In [16]:
#import pandas
import pandas as pd
#import csv module
import csv

#save file address with needed data as variables
movie_data_to_load = "tmdb_5000_movies.csv"
credits_data_to_load = "tmdb_5000_credits.csv"

# Initialize lists to store the cleaned data
movie_rows = []
credits_rows = []

In [17]:
# Create function to replace the problematic characters in the string item with a space
def replace_problematic_characters(item):
    item = item.replace('\r', '').replace('\n', '\\n')
    item = item.replace('"', '')
    return item

# Read the movie data file and store the cleaned data in the movie_rows list
with open(movie_data_to_load, 'r', encoding='utf-8') as movie_file:
    csv_reader = csv.reader(movie_file, quoting=csv.QUOTE_MINIMAL)
    movie_headers = next(csv_reader)
    for row in csv_reader:
        cleaned_row = [replace_problematic_characters(item) for item in row]
        movie_rows.append(cleaned_row)

# Read the credits data file and store the cleaned data in the credits_rows list
with open(credits_data_to_load, 'r', encoding='utf-8') as credits_file:
    csv_reader = csv.reader(credits_file, quoting=csv.QUOTE_MINIMAL)
    credits_headers = next(csv_reader)
    for row in csv_reader:
        cleaned_row = [replace_problematic_characters(item) for item in row]
        credits_rows.append(cleaned_row)

In [18]:
# Create Pandas DataFrames from the cleaned data
movie_data = pd.DataFrame(movie_rows, columns=movie_headers)
credits_data = pd.DataFrame(credits_rows, columns=credits_headers)

In [19]:
#count the total number of movies in movies file by counting the number of rows with id column as reference
movies_count = movie_data['id'].count()

#display count of movies
movies_count

4803

In [20]:
#count the total number of movies in credits file by counting the number of rows with movie_id column as reference
credits_count = credits_data['movie_id'].count()

#display count of movies
credits_count

4803

In [21]:
# Remove the "keywords", "overview" and "homepage" columns
movie_data.drop(["keywords", "overview", "homepage"], axis=1, inplace=True)

movie_data.head()

,budget,genres,id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{id: 28, name: Action}, {id: 12, name: Advent...",19995,en,Avatar,150.437577,"[{name: Ingenious Film Partners, id: 289}, {na...","[{iso_3166_1: US, name: United States of Ameri...",2009-12-10,2787965087,162,"[{iso_639_1: en, name: English}, {iso_639_1: e...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{id: 12, name: Adventure}, {id: 14, name: Fan...",285,en,Pirates of the Caribbean: At World's End,139.082615,"[{name: Walt Disney Pictures, id: 2}, {name: J...","[{iso_3166_1: US, name: United States of Ameri...",2007-05-19,961000000,169,"[{iso_639_1: en, name: English}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{id: 28, name: Action}, {id: 12, name: Advent...",206647,en,Spectre,107.376788,"[{name: Columbia Pictures, id: 5}, {name: Danj...","[{iso_3166_1: GB, name: United Kingdom}, {iso_...",2015-10-26,880674609,148,"[{iso_639_1: fr, name: Fran\u00e7ais}, {iso_63...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{id: 28, name: Action}, {id: 80, name: Crime}...",49026,en,The Dark Knight Rises,112.31295,"[{name: Legendary Pictures, id: 923}, {name: W...","[{iso_3166_1: US, name: United States of Ameri...",2012-07-16,1084939099,165,"[{iso_639_1: en, name: English}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{id: 28, name: Action}, {id: 12, name: Advent...",49529,en,John Carter,43.926995,"[{name: Walt Disney Pictures, id: 2}]","[{iso_3166_1: US, name: United States of Ameri...",2012-03-07,284139100,132,"[{iso_639_1: en, name: English}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [22]:
#rearrange columns
movie_data = movie_data[['title', 'budget', 'genres', 'id', 'original_language', 'original_title', 'popularity', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'vote_average', 'vote_count']]

movie_data.head()

,title,budget,genres,id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,vote_average,vote_count
0,Avatar,237000000,"[{id: 28, name: Action}, {id: 12, name: Advent...",19995,en,Avatar,150.437577,"[{name: Ingenious Film Partners, id: 289}, {na...","[{iso_3166_1: US, name: United States of Ameri...",2009-12-10,2787965087,162,"[{iso_639_1: en, name: English}, {iso_639_1: e...",Released,Enter the World of Pandora.,7.2,11800
1,Pirates of the Caribbean: At World's End,300000000,"[{id: 12, name: Adventure}, {id: 14, name: Fan...",285,en,Pirates of the Caribbean: At World's End,139.082615,"[{name: Walt Disney Pictures, id: 2}, {name: J...","[{iso_3166_1: US, name: United States of Ameri...",2007-05-19,961000000,169,"[{iso_639_1: en, name: English}]",Released,"At the end of the world, the adventure begins.",6.9,4500
2,Spectre,245000000,"[{id: 28, name: Action}, {id: 12, name: Advent...",206647,en,Spectre,107.376788,"[{name: Columbia Pictures, id: 5}, {name: Danj...","[{iso_3166_1: GB, name: United Kingdom}, {iso_...",2015-10-26,880674609,148,"[{iso_639_1: fr, name: Fran\u00e7ais}, {iso_63...",Released,A Plan No One Escapes,6.3,4466
3,The Dark Knight Rises,250000000,"[{id: 28, name: Action}, {id: 80, name: Crime}...",49026,en,The Dark Knight Rises,112.31295,"[{name: Legendary Pictures, id: 923}, {name: W...","[{iso_3166_1: US, name: United States of Ameri...",2012-07-16,1084939099,165,"[{iso_639_1: en, name: English}]",Released,The Legend Ends,7.6,9106
4,John Carter,260000000,"[{id: 28, name: Action}, {id: 12, name: Advent...",49529,en,John Carter,43.926995,"[{name: Walt Disney Pictures, id: 2}]","[{iso_3166_1: US, name: United States of Ameri...",2012-03-07,284139100,132,"[{iso_639_1: en, name: English}]",Released,"Lost in our world, found in another.",6.1,2124

In [23]:
# Remove rows where the specified columns contain non-numeric values
cols = ['budget', 'popularity', 'revenue', 'runtime', 'vote_average', 'vote_count']
movie_data = movie_data[pd.concat([pd.to_numeric(movie_data[col], errors='coerce').notna() for col in cols], axis=1).all(axis=1)]

#Remove rows where the specific columns contain non-date values
movie_data['release_date'] = pd.to_datetime(movie_data['release_date'], errors='coerce')
movie_data = movie_data.dropna(subset=['release_date'])

In [24]:
#change column name cast to actors in credits table
credits_data = credits_data.rename(columns={'cast': 'actors'})
#rearrange headers
credits_data = credits_data[['title', 'movie_id', 'actors', 'crew']]

#display count of students across all schools
credits_data.head()

,title,movie_id,actors,crew
0,Avatar,19995,"[{cast_id: 242, character: Jake Sully, credit_...","[{credit_id: 52fe48009251416c750aca23, departm..."
1,Pirates of the Caribbean: At World's End,285,"[{cast_id: 4, character: Captain Jack Sparrow,...","[{credit_id: 52fe4232c3a36847f800b579, departm..."
2,Spectre,206647,"[{cast_id: 1, character: James Bond, credit_id...","[{credit_id: 54805967c3a36829b5002c41, departm..."
3,The Dark Knight Rises,49026,"[{cast_id: 2, character: Bruce Wayne / Batman,...","[{credit_id: 52fe4781c3a36847f81398c3, departm..."
4,John Carter,49529,"[{cast_id: 5, character: John Carter, credit_i...","[{credit_id: 52fe479ac3a36847f813eaa3, departm..."

In [25]:
movie_data_final = movie_data.merge(credits_data, on='title')

movie_data_final

,title,budget,genres,id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,vote_average,vote_count,movie_id,actors,crew
0,Avatar,237000000,"[{id: 28, name: Action}, {id: 12, name: Advent...",19995,en,Avatar,150.437577,"[{name: Ingenious Film Partners, id: 289}, {na...","[{iso_3166_1: US, name: United States of Ameri...",2009-12-10,2787965087,162,"[{iso_639_1: en, name: English}, {iso_639_1: e...",Released,Enter the World of Pandora.,7.2,11800,19995,"[{cast_id: 242, character: Jake Sully, credit_...","[{credit_id: 52fe48009251416c750aca23, departm..."
1,Pirates of the Caribbean: At World's End,300000000,"[{id: 12, name: Adventure}, {id: 14, name: Fan...",285,en,Pirates of the Caribbean: At World's End,139.082615,"[{name: Walt Disney Pictures, id: 2}, {name: J...","[{iso_3166_1: US, name: United States of Ameri...",2007-05-19,961000000,169,"[{iso_639_1: en, name: English}]",Released,"At the end of the world, the adventure begins.",6.9,4500,285,"[{cast_id: 4, character: Captain Jack Sparrow,...","[{credit_id: 52fe4232c3a36847f800b579, departm..."
2,Spectre,245000000,"[{id: 28, name: Action}, {id: 12, name: Advent...",206647,en,Spectre,107.376788,"[{name: Columbia Pictures, id: 5}, {name: Danj...","[{iso_3166_1: GB, name: United Kingdom}, {iso_...",2015-10-26,880674609,148,"[{iso_639_1: fr, name: Fran\u00e7ais}, {iso_63...",Released,A Plan No One Escapes,6.3,4466,206647,"[{cast_id: 1, character: James Bond, credit_id...","[{credit_id: 54805967c3a36829b5002c41, departm..."
3,The Dark Knight Rises,250000000,"[{id: 28, name: Action}, {id: 80, name: Crime}...",49026,en,The Dark Knight Rises,112.31295,"[{name: Legendary Pictures, id: 923}, {name: W...","[{iso_3166_1: US, name: United States of Ameri...",2012-07-16,1084939099,165,"[{iso_639_1: en, name: English}]",Released,The Legend Ends,7.6,9106,49026,"[{cast_id: 2, character: Bruce Wayne / Batman,...","[{credit_id: 52fe4781c3a36847f81398c3, departm..."
4,John Carter,260000000,"[{id: 28, name: Action}, {id: 12, name: Advent...",49529,en,John Carter,43.926995,"[{name: Walt Disney Pictures, id: 2}]","[{iso_3166_1: US, name: United States of Ameri...",2012-03-07,284139100,132,"[{iso_639_1: en, name: English}]",Released,"Lost in our world, found in another.",6.1,2124,49529,"[{cast_id: 5, character: John Carter, credit_i...","[{credit_id: 52fe479ac3a36847f813eaa3, departm..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4801,El Mariachi,220000,"[{id: 28, name: Action}, {id: 80, name: Crime}...",9367,es,El Mariachi,14.269792,"[{name: Columbia Pictures, id: 5}]","[{iso_3166_1: MX, name: Mexico}, {iso_3166_1: ...",1992-09-04,2040920,81,"[{iso_639_1: es, name: Espa\u00f1ol}]",Released,"He didn't come looking for trouble, but troubl...",6.6,238,9367,"[{cast_id: 1, character: El Mariachi, credit_i...","[{credit_id: 52fe44eec3a36847f80b280b, departm..."
4802,Newlyweds,9000,"[{id: 35, name: Comedy}, {id: 10749, name: Rom...",72766,en,Newlyweds,0.642552,[],[],2011-12-26,0,85,[],Released,A newlywed couple's honeymoon is upended by th...,5.9,5,72766,"[{cast_id: 1, character: Buzzy, credit_id: 52f...","[{credit_id: 52fe487dc3a368484e0fb013, departm..."
4803,"Signed, Sealed, Delivered",0,"[{id: 35, name: Comedy}, {id: 18, name: Drama}...",231617,en,"Signed, Sealed, Delivered",1.444476,"[{name: Front Street Pictures, id: 3958}, {nam...","[{iso_3166_1: US, name: United States of Ameri...",2013-10-13,0,120,"[{iso_639_1: en, name: English}]",Released,,7.0,6,231617,"[{cast_id: 8, character: Oliver O\u2019Toole, ...","[{credit_id: 52fe4df3c3a36847f8275ecf, departm..."
4804,Shanghai Calling,0,[],126186,en,Shanghai Calling,0.857008,[],"[{iso_3166_1: US, name: United States of Ameri...",2012-05-03,0,98,"[{iso_639_1: en, name: English}]",Released,A New Yorker in Shanghai,5.7,7,126186,"[{cast_id: 3, character: Sam, credit_id: 52fe4...","[{credit_id: 52fe4ad9c3a368484e16a36b, departm..."
4805,My Date with Drew,0,"[{id: 99, name: Documentary}]",25975,en,My Date with Drew,1.929883,"[{name: rusty bear entertainment, id: 87986}, ...","[{iso_3166_1: US, name: United States of Ameri...",2005-08-05,0,90,"[{iso_639_1: en, name: English}]",Released,,6.3,16,25975,"[{cast_id: 3, character: Herself, credit_id: 5...","[{credit_id: 58ce021b9251415a390165d9, departm..."

In [26]:
# Export movie_data to a CSV file
movie_data_final.to_csv("movie_data.csv", index=False)